<!DOCTYPE html>
<html
        lang="en"
        th:replace="~{layout :: parent(~{::#content},~{::title},~{::script},~{::head})}"
        xmlns:th="http://www.thymeleaf.org">

<head>

    <title>User Inquiry</title>

</head>

<body>
<div id="content">
    <div class="row">
        <div class="col">

            <div class="h-100">
                <div class="row mb-3 pb-1">
                    <div class="col-12">
                        <div class="d-flex align-items-lg-center flex-lg-row flex-column">
                            <div class="flex-grow-1">
                                <!--TODO breadcrubms here-->
                            </div>
                        </div><!-- end card header -->
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->

                <!-- content here -->

                <!-- end content -->

            </div> <!-- end .h-100-->

        </div> <!-- end col -->

    </div>
</div>
<!--datatable js-->

<script>

</script>
</body>

</html>