<div th:fragment="breadcrumbs(breadcrumbs)">
    <div class="col-12">
        <div class="d-flex align-items-lg-center flex-lg-row flex-column">
            <div class="flex-grow-1">
                <!--TODO breadcrubms here-->
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"
                            th:aria-current="${breadcrumb.current == true ? 'page' : null}"
                            th:classappend="${breadcrumb.current == true} ? 'active'"
                            th:each="breadcrumb : ${breadcrumbs}">
                            <a th:href="${breadcrumb.route}" th:text="${breadcrumb.name}"></a>
                        </li>
                    </ol>
                </nav>
            </div>
        </div><!-- end card header -->
    </div>
</div>