<div th:fragment="breadcrumbs(breadcrumbs)">
    <div class="col-12">
        <div class="d-flex align-items-lg-center flex-lg-row flex-column">
            <div class="flex-grow-1">
                <!--TODO breadcrubms here-->
                <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                <ol class="breadcrumb">
                        <li class="breadcrumb-item"
                            th:aria-current="${breadcrumb.current == true ? 'page' : null}"
                            th:classappend="${breadcrumb.current == true} ? 'active'"
                            th:each="breadcrumb : ${breadcrumbs}">
                            <a th:href="${breadcrumb.route}" th:text="${breadcrumb.name}" th:style="${breadcrumb.current == true} ? 'color: #01BBB7' : null"></a>
                        </li>
                    </ol>
                </nav>
            </div>
        </div><!-- end card header -->
    </div>
</div>