<div th:fragment="sidebar">
    <!-- ========== App Menu ========== -->
    <div class="app-menu navbar-menu">
        <!-- LOGO -->
        <div class="navbar-brand-box text-start">
            <!-- Dark Logo-->
            <a href="/" class="logo logo-dark">
					<span class="logo-sm">
						<img src="/assets/images/cms/logo_byc.png" alt="" height="60">
					</span>
                <span class="logo-lg">
						<img src="/assets/images/cms/logo_byc.png" alt="" height="60">
					</span>
            </a>
            <!-- Light Logo-->
            <a href="/" class="logo logo-light">
					<span class="logo-sm">
						<img src="/assets/images/cms/logo_byc.png" alt="" height="60">
					</span>
                <span class="logo-lg">
						<img src="/assets/images/cms/logo_byc.png" alt="" height="60">
					</span>
            </a>
            <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover"
                    id="vertical-hover">
                <i class="ri-record-circle-line"></i>
            </button>
        </div>

        <div id="scrollbar">
            <div class="container-fluid">
                <div id="two-column-menu"></div>
                <ul class="navbar-nav" id="navbar-nav" th:each="group : ${menuGroups}">
                    <li class="menu-title"><span th:text="${group.name}">Menu</span></li>
                    <li class="nav-item" th:each="parent : ${group.menuParents}">
                        <a aria-controls="sidebarDashboards"
                           aria-expanded="false"
                           class="nav-link menu-link" role="button"
                           th:attr="data-bs-toggle=${parent.parentId == null ? null : 'collapse'}"
                           th:href="${parent.parentId == null ? parent.link : '#' + parent.parentId}">
                            <i data-feather="home" class="icon-dual"></i> <span th:text="${parent.name}"></span>
                        </a>
                        <div class="collapse menu-dropdown" th:id="${parent.parentId}">
                            <ul class="nav nav-sm flex-column" th:each="item : ${parent.menuList}">
                                <li class="nav-item">
                                    <a th:href="${item.link}"
                                       class="nav-link"
                                       th:classappend="${item.link == currentUrl} ? 'active' : ''"
                                       th:text="${item.name}"></a>
                                </li>
                            </ul>
                        </div>
                    </li> <!-- end Dashboard Menu -->
                    <!-- end Dashboard Menu -->
                </ul>
            </div>
            <!-- Sidebar -->
        </div>

        <div class="sidebar-background"></div>
    </div>
    <!-- Left Sidebar End -->
    <!-- Vertical Overlay-->
    <div class="vertical-overlay"></div>
    <!-- Vertical Overlay-->
    <div class="vertical-overlay"></div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Get all the links with class 'nav-link' inside the menu
            var navLinks = document.querySelectorAll('#navbar-nav .nav-link');

            // Loop through each link to find the active one
            navLinks.forEach(function(link) {
                if (link.classList.contains('active')) {
                    // Find the parent <a> tag with the 'menu-link' class
                    var menuLink = link.closest('.nav-item').querySelector('.menu-link');

                    // Set aria-expanded to true
                    if (menuLink) {
                        menuLink.setAttribute('aria-expanded', 'true');
                    }

                    // Find the corresponding dropdown and add the 'show' class
                    var dropdown = document.querySelector(`#${link.closest('.collapse').id}`);
                    if (dropdown) {
                        dropdown.classList.add('show');
                    }
                }
            });
        });
    </script>
</div>
