<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->

    <!-- ===============================================-->
    <!--    JavaScripts - Vendors -->
    <!-- ===============================================-->
    <script th:src="@{/falcon/vendors/jquery/jquery.min.js}"></script>
    <script th:src="@{/falcon/vendors/jquery-ui/jquery-ui.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <script th:src="@{/assets/vendors/bootstrap-show-password/bootstrap-show-password.min.js}"></script>
    <script th:src="@{/falcon/vendors/popper/popper.min.js}"></script>
    <script th:src="@{/falcon/vendors/bootstrap/bootstrap.min.js}"></script>
    <script th:src="@{/falcon/vendors/anchorjs/anchor.min.js}"></script>
    <script th:src="@{/falcon/vendors/is/is.min.js}"></script>
    <script th:src="@{/falcon/vendors/echarts/echarts.min.js}"></script>
    <script th:src="@{/falcon/vendors/fontawesome/all.min.js}"></script>
    <script th:src="@{/falcon/vendors/lodash/lodash.min.js}"></script>
    <script th:src="@{/falcon/vendors/bootstrap-toaster/bootstrap-toaster.min.js}"></script>
    <script th:src="@{/falcon/vendors/glightbox/glightbox.min.js}"></script>
    <script th:src="@{/falcon/vendors/list.js/list.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.0.0/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.20/c3.min.js"></script>
    <script th:src="@{/falcon/vendors/lottie/lottie.min.js}"></script>
    <script th:src="@{/falcon/vendors/ladda/ladda.min.js}"></script>
    <script th:src="@{/falcon/vendors/dropzone/dropzone.min.js}"></script>
    <script th:src="@{/falcon/vendors/swiper/swiper-bundle.min.js}"></script>
    <script th:src="@{/falcon/vendors/image-picker/image-picker.min.js}"></script>
    <script th:src="@{/falcon/vendors/plyr/plyr.polyfilled.min.js}"></script>
    <script th:src="@{/falcon/vendors/choices/choices.min.js}"></script>
    <script th:src="@{/falcon/vendors/datatables.net/jquery.dataTables.min.js}"></script>
    <script th:src="@{/falcon/vendors/datatables.net-bs5/dataTables.bootstrap5.min.js}"></script>
    <script th:src="@{/falcon/vendors/datatables.net-fixedcolumns/dataTables.fixedColumns.min.js}"></script>
    <script th:src="@{/falcon/vendors/select2/select2.min.js}"></script>
    <script th:src="@{/falcon/vendors/select2/select2.full.min.js}"></script>
    <script th:src="@{/falcon/vendors/tinymce/tinymce.min.js}"></script>
    <script th:src="@{/falcon/vendors/intl-tel-input/js/intlTelInput.min.js}"></script>
    <script th:src="@{/falcon/vendors/inputmask/inputmask.min.js}"></script>
    <script th:src="@{/falcon/vendors/intl-tel-input/js/intlTelInput-jquery.min.js}"></script>
    <script th:src="@{/falcon/vendors/location-picker/location-picker.js}"></script>
    <script th:src="@{/falcon/vendors/dropify/js/dropify.js}"></script>
    <script th:src="@{/falcon/vendors/sweetalert2/sweetalert2.min.js}"></script>
    <script th:src="@{/falcon/vendors/jsoneditor/jsoneditor.js}"></script>
    <script th:src="@{/assets/scripts/summernote-bs4.min.js}"></script>

    <!-- ===============================================-->
    <!--    JavaScripts - CDN -->
    <!-- ===============================================-->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>

    <!-- ===============================================-->
    <!--    JavaScripts - Custom -->
    <!-- ===============================================-->
    <script th:src="@{/falcon/assets/js/flatpickr.js}"></script>
    <script th:src="@{/falcon/assets/js/theme.js}"></script>
    <script th:src="@{/assets/vendors/daterangepicker/daterangepicker.js}"></script>
    <script th:src="@{/assets/vendors/remarkable-bootstrap-notify/bootstrap-notify.min.js}"></script>
    <script th:src="@{/assets/scripts/jquery.validation.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.8/jquery.inputmask.min.js" integrity="sha512-efAcjYoYT0sXxQRtxGY37CKYmqsFVOIwMApaEbrxJr4RwqVVGw8o+Lfh/+59TU07+suZn1BWq4fDl5fdgyCNkw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script th:inline="javascript">
        $(document).ready(function() {
            var CSRFTOKEN = /*[[${_csrf.token}]]*/ '';
            var request;

            $('.select2').select2();
            $.ajaxSetup({
                headers: {
                    'X-CSRF-TOKEN': CSRFTOKEN
                }
            });
          
            var loader = $('.initial__loading');
            var emptyValue = $('.remove-empty-values');
            var inputRequired = $('input[required], textarea[required], select[required]');
            loader.delay(200).fadeOut(400);

            emptyValue.submit(function() {
                if ($(this).find(':invalid').length <= 0)
                    $(this).find('input:optional, textarea:optional, select:optional')
                        .filter(function() {
                            return this.value.trim().length < 1;
                        }).attr('disabled', 'disabled');
            });

            inputRequired.prev('label').append(
                $("<span>", {"class": "text-danger"}).text(" *")
            );
            $('.money').inputmask({
                alias: 'numeric',
                groupSeparator: '.',
                autoGroup: true,
                digits: 2,
                radixPoint: ',',
                autoUnmask: true,
                unmaskAsNumber: true,
                prefix: 'Rp '
            });
            $('.number').inputmask({
                alias: 'numeric',
                groupSeparator: '.',
                autoGroup: true,
                digits: 0, // Set to 0 to remove decimal places
                radixPoint: ',',
                autoUnmask: true,
                unmaskAsNumber: true
            });
        });
    </script>
</body>
</html>