<!doctype html>
<html lang="en"
      xmlns="http://www.thymeleaf.org"
      data-layout="vertical" data-preloader="disable" data-sidebar="light"
      data-sidebar-image="none" data-sidebar-size="lg" data-topbar="light"
      th:fragment="parent(content,title,script,head)"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="csrf-token" th:content="${_csrf.token}">
    <title data-th-replace="${title}">Empty Title</title>
    <!-- Page CSS -->
    <div th:replace="~{partials/head-css :: head-css}"></div>
    <th:block th:replace="${head}"></th:block>
</head>
<body data-sidebar="dark" data-layout-mode="light">
<div id="layout-wrapper">
    <div th:replace="~{partials/topbar :: topbar}"></div>
    <div th:replace="~{partials/sidebar_copy :: sidebar}"></div>

    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <section th:replace="${content}"></section>
            </div>
        </div>
        <div th:replace="~{partials/footer :: footer}"></div>
    </div>
</div>

<th:block th:if="${page} == 'appchat'" th:remove="tag">
    <div th:replace="partials/app-chat-userprofile-canvas :: offcanvas"></div>
</th:block>

<th:block layout:fragment="modal"></th:block>
<div th:replace="~{partials/customizer :: customizer}"></div>
<div th:replace="~{partials/vendor-scripts :: scripts}"></div>
<th:block layout:fragment="pagejs"></th:block>
<!-- App js -->
<script th:src="@{/assets/js/app.js}"></script>
<th:block th:replace="${script}"></th:block>
</body>
</html>