<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ================x==============================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>BYC - CMS</title>

    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="/falcon/assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/falcon/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/falcon/assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="/falcon/assets/img/favicons/favicon.ico">
    <link rel="manifest" href="/falcon/assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="/falcon/assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">
    <script src="/falcon/assets/js/config.js"></script>
    <script src="/falcon/vendors/simplebar/simplebar.min.js"></script>

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">
    <link href="/falcon/vendors/simplebar/simplebar.min.css" rel="stylesheet">
    <link href="/falcon/assets/css/theme-rtl.min.css" rel="stylesheet" id="style-rtl">
    <link href="/falcon/assets/css/theme.min.css" rel="stylesheet" id="style-default">
    <link href="/falcon/assets/css/user-rtl.min.css" rel="stylesheet" id="user-style-rtl">
    <link href="/falcon/assets/css/user.min.css" rel="stylesheet" id="user-style-default">
    <link rel="stylesheet" type="text/css" href="/assets/vendors/ladda/ladda-themeless.min.css">
</head>

<body>
    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
        <div class="container-fluid">
            <div class="row min-vh-100 flex-center g-0">
                <div class="col-lg-8 col-xxl-5 py-3 position-relative">
                    <img class="bg-auth-circle-shape" src="/falcon/assets/img/icons/spot-illustrations/bg-shape.png" alt="" width="250">
                    <img class="bg-auth-circle-shape-2" src="/falcon/assets/img/icons/spot-illustrations/shape-1.png" alt="" width="150">

                    <div class="card overflow-hidden z-index-1">
                        <div class="card-body p-0">
                            <div class="row g-0 h-100">
                                <div class="col-md-5 text-center bg-card-gradient">
                                    <div class="position-relative p-4 pt-md-5 pb-md-7 light">
                                        <div class="bg-holder bg-auth-card-shape" style="background-image:url(/falcon/assets/img/icons/spot-illustrations/half-circle.png);"></div>
                                        <div class="z-index-1 position-relative">
                                            <a class="link-light mb-4 font-sans-serif fs-4 d-inline-block fw-bolder" href="#">BYC</a>
                                            <p class="opacity-75 text-white">Komunditas pebisnis muda nasabah BCA Solitaire & Prioritas untuk mendapatkan berbagai insight bisnis, peluang networking serta mentoring bisnis</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7 d-flex flex-center">
                                    <div class="p-4 p-md-5 flex-grow-1">
                                        <div class="row flex-between-center">
                                            <div class="col-auto">
                                                <h3>Account Login</h3>
                                            </div>
                                        </div>
                                        <form id="form-validation" name="form-validation" class="mb-4" th:action="@{/login}" th:object="${loginForm}" method="post">
                                            <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
                                            <div class="mb-3 form-group">
                                                <label class="form-label" for="validation-email">Email address</label>
                                                <input type="email" id="validation-email" th:field="*{email}" class="form-control" placeholder="Email Address" autocomplete="off" />
                                                <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                                            </div>
                                            <div class="mb-3 form-group">
                                                <div class="d-flex justify-content-between">
                                                    <label class="form-label" for="validation-password">Password</label>
                                                </div>
                                                <input type="password" id="validation-password" th:field="*{password}" class="form-control" placeholder="Enter Password" autocomplete="off" />
                                                <div class="invalid-feedback" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                                            </div>
                                            <div class="row flex-between-center">
                                                <div class="col-auto">
                                                    <div class="form-check mb-0">
                                                        <input class="form-check-input" type="checkbox" id="card-checkbox" checked="checked" />
                                                        <label class="form-check-label mb-0" for="card-checkbox">Remember me</label>
                                                    </div>
                                                </div>
                                                <div class="col-auto">
                                                    <a class="fs--1" href="/forgot-password">Forgot Your Password?</a>
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <button class="ladda-button btn btn-primary d-block w-100 mt-3" type="submit">
                                                    <span class="ladda-label">Login</span>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="/falcon/vendors/popper/popper.min.js"></script>
    <script src="/falcon/vendors/bootstrap/bootstrap.min.js"></script>
    <script src="/falcon/vendors/anchorjs/anchor.min.js"></script>
    <script src="/falcon/vendors/is/is.min.js"></script>
    <script src="/falcon/vendors/fontawesome/all.min.js"></script>
    <script src="/falcon/vendors/lodash/lodash.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="/falcon/vendors/list.js/list.min.js"></script>
    <script src="/falcon/assets/js/theme.js"></script>
    <script src="/assets/vendors/jquery/jquery.min.js"></script>
    <script src="/assets/vendors/html5-form-validation/jquery.validation.min.js"></script>
    <script src="/assets/vendors/bootstrap-show-password/bootstrap-show-password.min.js"></script>
    <script src="/assets/vendors/ladda/ladda.min.js"></script>
    <script src="/falcon/assets/script/form-validation.js"></script>

    <script>
        (function ($) {
            $(function () {
                FormValidation.init(null, callbackSuccess, null, null, callbackOption);


                function callbackSuccess() {
                    console.log('xx');
                   // window.location.href = $btnback.attr('href');
                }

                function callbackOption(node, data) {
                    const formData = new FormData();

                    $.each(data, function (k, v) {
                        if (!['images', 'image_thumbnail'].includes(k)) formData.append(k, v);
                    });
                    console.log('bb');

                    return {cache: false, contentType: false, processData: false, data: formData}
                }
            });
        })(jQuery);
    </script>
</body>

</html>
